@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}


html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "メイリオ", sans-serif;
    @media (min-width: 481px) {
        font-size: 1.8rem;
    }
}

h1, h2, h3, h4, h5 {
    font-family: din-1451-lt-pro-engschrift, "Yu Gothic", "YuGothic", "Noto Sans JP", sans-serif;;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: none;
}

.ib {
    display: inline-block;
}

.center {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.w1024 {
    @extend .center;
    width: 100%;
    max-width: 1064px;
    padding: 120px 20px;
}


.img100 {
    width: 100%;
    height: auto;
}

.bg-gray {
    background-color: #EEE;
}


.has-cap::after {
    content: attr(data-cap)"";
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 10px;
    font-weight: 700;
}


.header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    &_bg {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(../img/hero-img.jpg) 50% 50% no-repeat;
        background-size: cover;
        transform-origin: 50% 50%;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            transition: opacity 0.7s;
        }
    }
    &.hide {
        opacity: 0;
        &::before {
            opacity: 0;
        }
        .header_bg {
            transform: scale(1.5);
        }
    }
    &.transit {
        transition: opacity 1.2s;
        .header_bg {
            transition: transform 1.4s;
        }
    }
    &_h1 {
        font-size: 80px;
        letter-spacing: 0.1em;
        margin-bottom: 50px;
    }
    &_h2 {
        text-align: center;
        font-size: 32px;
        letter-spacing: 0.1em;
        .name::after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: #777;
            margin: 10px 0;
            display: block;
        }
        .ib {
            display: block;
        }
        @media (min-width: 481px) {
            .ib {
                display: inline-block;
            }
            .name::after {
                content: "/";
                margin: 0 0.5em;
                display: inline-block;
                width: auto;
                height: auto;
            }
        }
    }
}

.section_head {
    text-align: center;
    margin-bottom: 50px;
    &_en {
        font-size: 24px;
        color: #1ea4b6;
        letter-spacing: 0.1em;
        line-height: 1.2em;
    }
    &_ja {
        font-size: 50px;
        letter-spacing: 0.1em;
        line-height: 1.2em;
    }
}


.about {
    padding: 0px 20px 0;
    margin-top: -40vh;
    opacity: 0;
    transition: opacity 0.8s linear 0.2s;
    &.show {
        opacity: 1;
    }
    &_body {
        line-height: 1.75em;
    }
    &_image {
        @extend .center;
        width: 70%;
        max-width: 300px;
    }
    &_text {
        padding: 30px 0;
    }
    &_list_div {
        display: flex;
    }
    &_term {
        width: 3em;
    }
    &_data {
        width: calc(100% - 3em);
    }
    @media (min-width: 481px) {
        &_text {
            padding: 30px;
        }
    }
    @media (min-width: 768px) {
        &_body {
            display: flex;
            align-items: center;
        }
        &_image {
            width: 300px;
        }
        &_text {
            width: 50%;
        }
    }
}

.skills {
    &_li {
        margin-bottom: 30px;
        &_name {
            font-family: din-1451-lt-pro-engschrift;
            font-size: 22px;
            letter-spacing: 0.1em;
            margin-bottom: 0.4em;
        }
    }
    @media (min-width: 768px) {
        &_list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
        }
        &_li {
            width: calc(50% - 30px);
        }
    }
}



.footer {
    background-color: #000;
    color: #FFF;
    &_inquiry {
        display: block;
        width: 80%;
        max-width: 320px;
        padding: 20px;
        line-height: 1.0em;
        text-align: center;
        background: #FFF;
        color: #000;
        border-radius: 10px;
        text-decoration: none;
    }
    &_copyright {
        font-size: 10px;
        text-align: center;
        padding: 2em 1em;
    }
}
.go-top {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #333;
    position: fixed;
    z-index: 100;
    bottom: 10px;
    right: -100px;
    transition: transform 0.5s, box-shadow 0.3s;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    &.show {
        transform: translateX(-110px);
    }
    &::before {
        content: "";
        width: 10px;
        height: 10px;
        border-top: 3px solid #FFF;
        border-left: 3px solid #FFF;
        position: absolute;
        top: 15px;
        left: 15px;
        transform: rotate(45deg);
        transform-origin: 50% 50%;
    }
}


.show-up {
    transform: translateY(50px);
    opacity: 0;
    &.show {
        transform: none;
        opacity: 1;
        transition: transform 1.5s, opacity 1.5s;
    }
}

.td-1 {
    transition-delay: 0.2s;
}

.td-2 {
    transition-delay: 0.4s;
}

.td-3 {
    transition-delay: 0.6s;
}

.td-4 {
    transition-delay: 0.8s;
}

.td-5 {
    transition-delay: 1s;
}